img{
    position: absolute;
    border-radius: 20px;
    width: 300px;
}
.img1{
    top: 0;
    left: 0;
    z-index: 5;
}
.img2{
    top: 20px;
    left: 20px;
}
.img3{
    top: 40px;
    left: 40px;
}
.img4{
    top: 60px;
    left: 60px;
}