table, th, td {
    border: 1px solid #000;
}
th, td{
    padding: 2px 10px;
}
tbody, tfoot{
    background-color: #00CCFF;
}
th{
    background-color: #FFFFAA;
    color: red;
    font-size: 30px;
}
button {
    height: 50px;
    width: 100px;
}