h1{
    background-color: blue;
    color: yellow;
    padding: 20px;
}
.span1{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
}
.span2{
    text-transform: uppercase;
    font-style: italic;
}
img{
    height: 150px;
}
h3{
    color: green;
}
iframe{
    display: block;
    margin-top: 20px;
    
}