.container{
    width: 300px;
    height: auto;
    padding: 10px;
    border: 2px brown solid;
    background-color: #FFFEE0;
}
img{
    width: 200px;
    border: 10px brown;
    border-style: ridge;
}
p{
    width: 200px;
    border: 10px orange dashed;
    padding-top: 10px;
    background-color: yellow;
    overflow: hidden scroll;
}

